body {
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: black;
    display: block;
    width: 100%;
    text-align: center;
}
a {
    text-decoration: none; 
    color: black; 
}
a:hover {
    text-decoration: none; 
    color: pink; 
}
.assign {
    padding: 10px;
    margin: 10px;
    width: 20%;
    box-shadow: 8px 8px darkgreen;
    background: palegoldenrod;
    border-radius: 20px;
}
.assign img {
    width: 200px;
    padding: 10px;
    border: 2px solid whitesmoke; /* try dashed, dotted */
}